body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:71px;
  width:741px;
  height:32px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:33px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:737px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:103px;
  width:741px;
  height:460px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:461px;
}
#u3 {
  position:absolute;
  left:2px;
  top:222px;
  width:737px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:133px;
  top:148px;
  width:119px;
  height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:133px;
  top:248px;
  width:119px;
  height:36px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:133px;
  top:351px;
  width:119px;
  height:36px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:133px;
  top:447px;
  width:105px;
  height:36px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:784px;
  top:73px;
  width:29px;
  height:29px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:593px;
  top:128px;
  width:41px;
  height:36px;
  font-size:48px;
  color:#6B6B6B;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:81px;
  top:202px;
  width:739px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:730px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:739px;
  height:2px;
}
#u17 {
  position:absolute;
  left:81px;
  top:402px;
  width:739px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:730px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:739px;
  height:2px;
}
#u18 {
  position:absolute;
  left:81px;
  top:302px;
  width:739px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:730px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:739px;
  height:2px;
}
#u19 {
  position:absolute;
  left:312px;
  top:144px;
  width:261px;
  height:24px;
  color:#6B6B6B;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:312px;
  top:228px;
  width:129px;
  height:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:593px;
  top:330px;
  width:41px;
  height:36px;
  font-size:48px;
  color:#6B6B6B;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:312px;
  top:346px;
  width:261px;
  height:24px;
  color:#6B6B6B;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:312px;
  top:270px;
  width:129px;
  height:36px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:482px;
  top:228px;
  width:129px;
  height:36px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:482px;
  top:270px;
  width:129px;
  height:36px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:660px;
  top:228px;
  width:129px;
  height:36px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:660px;
  top:270px;
  width:129px;
  height:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:312px;
  top:426px;
  width:129px;
  height:36px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:312px;
  top:468px;
  width:129px;
  height:36px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:482px;
  top:426px;
  width:129px;
  height:36px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:482px;
  top:468px;
  width:129px;
  height:36px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:660px;
  top:426px;
  width:129px;
  height:36px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:660px;
  top:468px;
  width:129px;
  height:36px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:621px;
  top:517px;
  width:74px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:719px;
  top:517px;
  width:74px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
