body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:12px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:307px;
  top:31px;
  width:50px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:424px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:550px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:677px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:802px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:936px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:769px;
}
#u15 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:81px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:58px;
  top:12px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:307px;
  top:31px;
  width:50px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:424px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#00FF00;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:550px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:677px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:802px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1166px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:927px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1058px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1275px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:302px;
  top:274px;
  width:950px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:941px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u39 {
  position:absolute;
  left:302px;
  top:747px;
  width:950px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:941px;
  top:-5px;
  width:14px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u40 {
  position:absolute;
  left:540px;
  top:671px;
  width:48px;
  height:48px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u41 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:979px;
  top:671px;
  width:48px;
  height:48px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:420px;
  top:172px;
  width:48px;
  height:48px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u45 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:465px;
  top:671px;
  width:48px;
  height:48px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u47 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:763px;
  top:317px;
  width:48px;
  height:45px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u49 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:636px;
  top:671px;
  width:48px;
  height:48px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u51 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:369px;
  top:671px;
  width:48px;
  height:48px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u53 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:883px;
  top:671px;
  width:48px;
  height:48px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u55 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:710px;
  top:672px;
  width:54px;
  height:47px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:47px;
}
#u57 {
  position:absolute;
  left:2px;
  top:16px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:812px;
  top:672px;
  width:54px;
  height:47px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:47px;
}
#u59 {
  position:absolute;
  left:2px;
  top:16px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:592px;
  top:172px;
  width:48px;
  height:48px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u61 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:763px;
  top:172px;
  width:48px;
  height:48px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u63 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:964px;
  top:172px;
  width:48px;
  height:48px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u65 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1106px;
  top:172px;
  width:48px;
  height:48px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u67 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:934px;
  top:495px;
  width:48px;
  height:48px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u69 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1106px;
  top:495px;
  width:48px;
  height:48px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u71 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:592px;
  top:495px;
  width:48px;
  height:48px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u73 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:763px;
  top:495px;
  width:48px;
  height:48px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u75 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:420px;
  top:495px;
  width:48px;
  height:48px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u77 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:302px;
  top:421px;
  width:950px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:941px;
  top:-5px;
  width:14px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u79 {
  position:absolute;
  left:302px;
  top:580px;
  width:950px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:941px;
  top:-5px;
  width:14px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u80 {
  position:absolute;
  left:798px;
  top:347px;
  width:16px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u81 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:452px;
  top:527px;
  width:16px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u83 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:629px;
  top:527px;
  width:16px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u85 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:798px;
  top:527px;
  width:16px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u87 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:966px;
  top:527px;
  width:16px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u89 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1138px;
  top:527px;
  width:16px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u91 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:408px;
  top:706px;
  width:16px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u93 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:503px;
  top:706px;
  width:16px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u95 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:752px;
  top:706px;
  width:16px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u97 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:854px;
  top:706px;
  width:16px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u99 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1017px;
  top:703px;
  width:16px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:581px;
  top:706px;
  width:16px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:676px;
  top:706px;
  width:16px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u105 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:922px;
  top:703px;
  width:16px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u107 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:439px;
  top:241px;
  width:10px;
  height:23px;
}
#u108_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u108_end {
  position:absolute;
  left:-5px;
  top:14px;
  width:20px;
  height:14px;
}
#u108_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:23px;
}
#u109 {
  position:absolute;
  left:445px;
  top:259px;
  width:690px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:681px;
  top:-5px;
  width:14px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:4px;
  width:690px;
  height:2px;
}
#u110 {
  position:absolute;
  left:609px;
  top:241px;
  width:10px;
  height:23px;
}
#u110_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u110_end {
  position:absolute;
  left:-5px;
  top:14px;
  width:20px;
  height:14px;
}
#u110_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:23px;
}
#u111 {
  position:absolute;
  left:782px;
  top:241px;
  width:10px;
  height:69px;
}
#u111_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u111_end {
  position:absolute;
  left:-5px;
  top:60px;
  width:20px;
  height:14px;
}
#u111_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:69px;
}
#u112 {
  position:absolute;
  left:991px;
  top:241px;
  width:10px;
  height:23px;
}
#u112_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u112_end {
  position:absolute;
  left:-5px;
  top:14px;
  width:20px;
  height:14px;
}
#u112_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:23px;
}
#u113 {
  position:absolute;
  left:1131px;
  top:241px;
  width:10px;
  height:23px;
}
#u113_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u113_end {
  position:absolute;
  left:-5px;
  top:14px;
  width:20px;
  height:14px;
}
#u113_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:23px;
}
#u114 {
  position:absolute;
  left:439px;
  top:441px;
  width:10px;
  height:52px;
}
#u114_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u114_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u114_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u115 {
  position:absolute;
  left:445px;
  top:437px;
  width:685px;
  height:10px;
}
#u115_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u115_end {
  position:absolute;
  left:676px;
  top:-5px;
  width:14px;
  height:20px;
}
#u115_line {
  position:absolute;
  left:0px;
  top:4px;
  width:685px;
  height:2px;
}
#u116 {
  position:absolute;
  left:609px;
  top:441px;
  width:10px;
  height:52px;
}
#u116_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u116_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u116_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u117 {
  position:absolute;
  left:782px;
  top:388px;
  width:10px;
  height:105px;
}
#u117_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u117_end {
  position:absolute;
  left:-5px;
  top:96px;
  width:20px;
  height:14px;
}
#u117_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:105px;
}
#u118 {
  position:absolute;
  left:953px;
  top:441px;
  width:10px;
  height:52px;
}
#u118_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u118_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u118_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u119 {
  position:absolute;
  left:1125px;
  top:441px;
  width:10px;
  height:52px;
}
#u119_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u119_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u119_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u120 {
  position:absolute;
  left:715px;
  top:366px;
  width:150px;
  height:36px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:715px;
  top:220px;
  width:150px;
  height:36px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:541px;
  top:220px;
  width:150px;
  height:36px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:369px;
  top:220px;
  width:150px;
  height:36px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:913px;
  top:220px;
  width:150px;
  height:36px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1055px;
  top:220px;
  width:150px;
  height:36px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:712px;
  top:549px;
  width:150px;
  height:36px;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:541px;
  top:549px;
  width:150px;
  height:36px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:369px;
  top:549px;
  width:150px;
  height:36px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:883px;
  top:549px;
  width:150px;
  height:36px;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:1055px;
  top:549px;
  width:150px;
  height:36px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:1054px;
  top:671px;
  width:48px;
  height:48px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u143 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:1150px;
  top:671px;
  width:48px;
  height:48px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u145 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1095px;
  top:706px;
  width:16px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u147 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1190px;
  top:706px;
  width:16px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u149 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:396px;
  top:610px;
  width:94px;
  height:10px;
}
#u150_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u150_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:14px;
  height:20px;
}
#u150_line {
  position:absolute;
  left:0px;
  top:4px;
  width:94px;
  height:2px;
}
#u151 {
  position:absolute;
  left:392px;
  top:614px;
  width:10px;
  height:52px;
}
#u151_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u151_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u151_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u152 {
  position:absolute;
  left:439px;
  top:568px;
  width:10px;
  height:45px;
}
#u152_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u152_end {
  position:absolute;
  left:-5px;
  top:36px;
  width:20px;
  height:14px;
}
#u152_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:45px;
}
#u153 {
  position:absolute;
  left:485px;
  top:614px;
  width:10px;
  height:52px;
}
#u153_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u153_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u153_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u154 {
  position:absolute;
  left:566px;
  top:610px;
  width:94px;
  height:10px;
}
#u154_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u154_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:14px;
  height:20px;
}
#u154_line {
  position:absolute;
  left:0px;
  top:4px;
  width:94px;
  height:2px;
}
#u155 {
  position:absolute;
  left:562px;
  top:614px;
  width:10px;
  height:52px;
}
#u155_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u155_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u155_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u156 {
  position:absolute;
  left:610px;
  top:568px;
  width:10px;
  height:45px;
}
#u156_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u156_end {
  position:absolute;
  left:-5px;
  top:36px;
  width:20px;
  height:14px;
}
#u156_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:45px;
}
#u157 {
  position:absolute;
  left:656px;
  top:614px;
  width:10px;
  height:52px;
}
#u157_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u157_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u157_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u158 {
  position:absolute;
  left:739px;
  top:610px;
  width:94px;
  height:10px;
}
#u158_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u158_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:14px;
  height:20px;
}
#u158_line {
  position:absolute;
  left:0px;
  top:4px;
  width:94px;
  height:2px;
}
#u159 {
  position:absolute;
  left:735px;
  top:614px;
  width:10px;
  height:52px;
}
#u159_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u159_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u159_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u160 {
  position:absolute;
  left:783px;
  top:568px;
  width:10px;
  height:45px;
}
#u160_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u160_end {
  position:absolute;
  left:-5px;
  top:36px;
  width:20px;
  height:14px;
}
#u160_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:45px;
}
#u161 {
  position:absolute;
  left:829px;
  top:614px;
  width:10px;
  height:52px;
}
#u161_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u161_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u161_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u162 {
  position:absolute;
  left:910px;
  top:610px;
  width:94px;
  height:10px;
}
#u162_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u162_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:14px;
  height:20px;
}
#u162_line {
  position:absolute;
  left:0px;
  top:4px;
  width:94px;
  height:2px;
}
#u163 {
  position:absolute;
  left:906px;
  top:614px;
  width:10px;
  height:52px;
}
#u163_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u163_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u163_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u164 {
  position:absolute;
  left:954px;
  top:568px;
  width:10px;
  height:45px;
}
#u164_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u164_end {
  position:absolute;
  left:-5px;
  top:36px;
  width:20px;
  height:14px;
}
#u164_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:45px;
}
#u165 {
  position:absolute;
  left:1000px;
  top:614px;
  width:10px;
  height:52px;
}
#u165_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u165_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u165_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u166 {
  position:absolute;
  left:1082px;
  top:610px;
  width:94px;
  height:10px;
}
#u166_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u166_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:14px;
  height:20px;
}
#u166_line {
  position:absolute;
  left:0px;
  top:4px;
  width:94px;
  height:2px;
}
#u167 {
  position:absolute;
  left:1078px;
  top:614px;
  width:10px;
  height:52px;
}
#u167_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u167_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u167_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u168 {
  position:absolute;
  left:1126px;
  top:568px;
  width:10px;
  height:45px;
}
#u168_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u168_end {
  position:absolute;
  left:-5px;
  top:36px;
  width:20px;
  height:14px;
}
#u168_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:45px;
}
#u169 {
  position:absolute;
  left:1172px;
  top:614px;
  width:10px;
  height:52px;
}
#u169_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u169_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:14px;
}
#u169_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:52px;
}
#u170 {
  position:absolute;
  left:302px;
  top:135px;
  width:950px;
  height:10px;
}
#u170_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u170_end {
  position:absolute;
  left:941px;
  top:-5px;
  width:14px;
  height:20px;
}
#u170_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u171 {
  position:absolute;
  left:342px;
  top:188px;
  width:21px;
  height:108px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:109px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:342px;
  top:323px;
  width:21px;
  height:108px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:109px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:342px;
  top:495px;
  width:21px;
  height:108px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:109px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:342px;
  top:660px;
  width:21px;
  height:108px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:109px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:0px;
  top:80px;
  width:184px;
  height:688px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:689px;
}
#u180 {
  position:absolute;
  left:2px;
  top:336px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:37px;
  top:150px;
  width:112px;
  height:36px;
  text-align:center;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:37px;
  top:190px;
  width:112px;
  height:36px;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:37px;
  top:229px;
  width:112px;
  height:36px;
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:37px;
  top:269px;
  width:112px;
  height:36px;
  text-align:center;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:37px;
  top:308px;
  width:112px;
  height:36px;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:37px;
  top:348px;
  width:112px;
  height:36px;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:37px;
  top:387px;
  width:112px;
  height:36px;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:37px;
  top:427px;
  width:112px;
  height:36px;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:0px;
  top:80px;
  width:184px;
  height:32px;
  text-align:left;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:33px;
}
#u198 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:32px;
  top:150px;
  width:16px;
  height:16px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u200 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:32px;
  top:190px;
  width:16px;
  height:16px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u202 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:32px;
  top:229px;
  width:16px;
  height:16px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u204 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:32px;
  top:269px;
  width:16px;
  height:16px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u206 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:32px;
  top:308px;
  width:16px;
  height:16px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u208 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:32px;
  top:348px;
  width:16px;
  height:16px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u210 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:32px;
  top:427px;
  width:16px;
  height:16px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u212 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:32px;
  top:387px;
  width:16px;
  height:16px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u214 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:938px;
  top:317px;
  width:48px;
  height:45px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u216 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:972px;
  top:347px;
  width:16px;
  height:16px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u218 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:890px;
  top:366px;
  width:150px;
  height:36px;
  text-align:center;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
