body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1061.17766952966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:25px;
  top:54px;
  width:1036px;
  height:633px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:634px;
}
#u1 {
  position:absolute;
  left:2px;
  top:308px;
  width:1032px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:57px;
  top:334px;
  width:414px;
  height:31px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:57px;
  top:367px;
  width:414px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:57px;
  top:398px;
  width:414px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:57px;
  top:430px;
  width:414px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:57px;
  top:460px;
  width:414px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:57px;
  top:491px;
  width:414px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:57px;
  top:523px;
  width:414px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:57px;
  top:554px;
  width:414px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:57px;
  top:585px;
  width:414px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:57px;
  top:334px;
  width:415px;
  height:32px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:33px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:67px;
  top:342px;
  width:26px;
  height:15px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:67px;
  top:374px;
  width:26px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:99px;
  top:374px;
  width:70px;
  height:36px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:67px;
  top:405px;
  width:26px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:99px;
  top:405px;
  width:70px;
  height:36px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:67px;
  top:437px;
  width:26px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:99px;
  top:437px;
  width:70px;
  height:36px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:99px;
  top:342px;
  width:70px;
  height:36px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:220px;
  top:374px;
  width:80px;
  height:36px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:220px;
  top:405px;
  width:80px;
  height:36px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:220px;
  top:437px;
  width:80px;
  height:36px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:220px;
  top:342px;
  width:70px;
  height:36px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:794px;
  top:562px;
  width:100px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u46_input {
  font-family:'应用字体';
}
#u47 {
  position:absolute;
  left:924px;
  top:625px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47_input {
  font-family:'应用字体';
}
#u48 {
  position:absolute;
  left:25px;
  top:22px;
  width:1036px;
  height:32px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:33px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:1032px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:463px;
  top:366px;
  width:8px;
  height:250px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:251px;
}
#u51 {
  position:absolute;
  left:2px;
  top:117px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:463px;
  top:425px;
  width:8px;
  height:59px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1031px;
  top:26px;
  width:25px;
  height:25px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:49px;
  top:74px;
  width:99px;
  height:36px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:148px;
  top:69px;
  width:230px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58_input {
  font-family:'应用字体';
}
#u59 {
  position:absolute;
  left:148px;
  top:259px;
  width:230px;
  height:66px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:66px;
  background-color:#D7D7D7;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u59_input {
  font-family:'应用字体';
}
#u60 {
  position:absolute;
  left:49px;
  top:284px;
  width:99px;
  height:36px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:343px;
  top:374px;
  width:70px;
  height:36px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:343px;
  top:405px;
  width:70px;
  height:36px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:343px;
  top:437px;
  width:70px;
  height:36px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:343px;
  top:342px;
  width:70px;
  height:36px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:617px;
  top:334px;
  width:414px;
  height:31px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:32px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:617px;
  top:367px;
  width:414px;
  height:30px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:617px;
  top:398px;
  width:414px;
  height:30px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:617px;
  top:430px;
  width:414px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:617px;
  top:460px;
  width:414px;
  height:30px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:617px;
  top:491px;
  width:414px;
  height:30px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:617px;
  top:523px;
  width:414px;
  height:30px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:617px;
  top:554px;
  width:414px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:617px;
  top:585px;
  width:414px;
  height:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:31px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:617px;
  top:334px;
  width:415px;
  height:32px;
  text-align:left;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:33px;
}
#u89 {
  position:absolute;
  left:2px;
  top:8px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:627px;
  top:342px;
  width:26px;
  height:15px;
}
#u91 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u90_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u92 {
  position:absolute;
  left:627px;
  top:374px;
  width:26px;
  height:16px;
}
#u93 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u94 {
  position:absolute;
  left:659px;
  top:374px;
  width:70px;
  height:36px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:627px;
  top:405px;
  width:26px;
  height:16px;
}
#u97 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u98 {
  position:absolute;
  left:659px;
  top:405px;
  width:70px;
  height:36px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:627px;
  top:437px;
  width:26px;
  height:16px;
}
#u101 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u102 {
  position:absolute;
  left:659px;
  top:437px;
  width:70px;
  height:36px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:659px;
  top:342px;
  width:70px;
  height:36px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:780px;
  top:374px;
  width:80px;
  height:36px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:780px;
  top:405px;
  width:80px;
  height:36px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:780px;
  top:437px;
  width:80px;
  height:36px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:780px;
  top:342px;
  width:70px;
  height:36px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:1023px;
  top:366px;
  width:8px;
  height:250px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:251px;
}
#u115 {
  position:absolute;
  left:2px;
  top:117px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1023px;
  top:425px;
  width:8px;
  height:59px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:60px;
}
#u117 {
  position:absolute;
  left:2px;
  top:22px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:900px;
  top:374px;
  width:70px;
  height:36px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:900px;
  top:405px;
  width:70px;
  height:36px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:900px;
  top:437px;
  width:70px;
  height:36px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:900px;
  top:342px;
  width:70px;
  height:36px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:49px;
  top:116px;
  width:99px;
  height:36px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:148px;
  top:111px;
  width:230px;
  height:25px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u128_input {
  font-family:'应用字体';
}
#u129 {
  position:absolute;
  left:49px;
  top:158px;
  width:99px;
  height:36px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:440px;
  top:111px;
  width:230px;
  height:25px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u131_input {
  font-family:'应用字体';
}
#u132 {
  position:absolute;
  left:378px;
  top:116px;
  width:63px;
  height:36px;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:148px;
  top:155px;
  width:230px;
  height:22px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  background-color:#D7D7D7;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u134_input {
  font-family:'应用字体';
}
#u134_input:disabled {
  color:grayText;
}
#u135 {
  position:absolute;
  left:148px;
  top:208px;
  width:84px;
  height:22px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u135_input {
  font-family:'应用字体';
}
#u135_input:disabled {
  color:grayText;
}
#u136 {
  position:absolute;
  left:242px;
  top:211px;
  width:48px;
  height:36px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:37px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:300px;
  top:208px;
  width:84px;
  height:22px;
}
#u138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u138_input {
  font-family:'应用字体';
}
#u138_input:disabled {
  color:grayText;
}
#u139 {
  position:absolute;
  left:394px;
  top:211px;
  width:48px;
  height:36px;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:37px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:463px;
  top:208px;
  width:84px;
  height:22px;
}
#u141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u141_input {
  font-family:'应用字体';
}
#u141_input:disabled {
  color:grayText;
}
#u142 {
  position:absolute;
  left:557px;
  top:211px;
  width:48px;
  height:36px;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:37px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:615px;
  top:208px;
  width:84px;
  height:22px;
}
#u144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u144_input {
  font-family:'应用字体';
}
#u144_input:disabled {
  color:grayText;
}
#u145 {
  position:absolute;
  left:709px;
  top:211px;
  width:48px;
  height:36px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:37px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
