body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:12px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:307px;
  top:31px;
  width:50px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:424px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:550px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:677px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:802px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:936px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:769px;
}
#u15 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:81px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:58px;
  top:12px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:307px;
  top:31px;
  width:50px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:424px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#00FF00;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:550px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:677px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:802px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1166px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:927px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1058px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1275px;
  top:31px;
  width:75px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
