body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1117.17766952966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:81px;
  top:122px;
  width:1036px;
  height:542px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:543px;
}
#u1 {
  position:absolute;
  left:2px;
  top:263px;
  width:1032px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:81px;
  top:90px;
  width:1036px;
  height:32px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:1032px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1087px;
  top:94px;
  width:25px;
  height:25px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:81px;
  top:150px;
  width:518px;
  height:507px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:508px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:514px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:94px;
  top:128px;
  width:364px;
  height:72px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:73px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:591px;
  top:150px;
  width:8px;
  height:507px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:508px;
}
#u11 {
  position:absolute;
  left:2px;
  top:246px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:591px;
  top:270px;
  width:8px;
  height:120px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:121px;
}
#u13 {
  position:absolute;
  left:2px;
  top:52px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:599px;
  top:150px;
  width:518px;
  height:507px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:508px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:514px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1109px;
  top:150px;
  width:8px;
  height:507px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:508px;
}
#u17 {
  position:absolute;
  left:2px;
  top:246px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1109px;
  top:270px;
  width:8px;
  height:120px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:121px;
}
#u19 {
  position:absolute;
  left:2px;
  top:52px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:82px;
  top:491px;
  width:508px;
  height:16px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:17px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-1px;
  width:504px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:600px;
  top:491px;
  width:508px;
  height:16px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:17px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-1px;
  width:504px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:609px;
  top:128px;
  width:364px;
  height:72px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:73px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
